<p style="color: green"><%= notice %></p>
<%= render "fullname", user: @user %>
<%= render @user %>
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>

<div>
  <h3>Book section</h3>
  <div>
    <% @book.reviews.includes(:user).each do |review| %>
      <%= review.content.html_safe %> by <%= review.user.full_name %> <br>
    <% end %>
  </div>
</div>
